<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Playsfi.Properties.Settings.proyectoConnectionString"
            connectionString="Data Source=C06PC29\SQLEXPRESS;Initial Catalog=proyecto;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Playsfi.Properties.Settings.casa" connectionString="Data Source=.;Initial Catalog=proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Playsfi.Properties.Settings.playsfiConnectionString"
            connectionString="Data Source=C06PC29\SQLEXPRESS;Initial Catalog=playsfi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Playsfi.Properties.Settings.conexionCasa" connectionString="Data Source=FCMPORT2-WIN10;Initial Catalog=playsfi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>